.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  max-width: 100%;
}
input::-webkit-input-placeholder {
  color: #b3b3b3;
}
input:-moz-placeholder {
  color: #b3b3b3;
}
input::-moz-placeholder {
  color: #b3b3b3;
}
input:-ms-input-placeholder {
  color: #b3b3b3;
}
.main {
  width: 73%;
  margin: 0 auto;
}
.min-height {
  min-height: calc( 100vh - 330px);
  margin: 50px 0 60px;
}
.fl {
  float: left;
  width: 60px;
  height: 100%;
}
.fr {
  float: right;
}
.clearboth:after {
  content: ".";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.clearboth {
  zoom: 1;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1300px;
  box-sizing: border-box;
  background: url(../images/background.png);
}
body .logo-left {
  z-index: 999;
  position: absolute;
  top: -115px;
  left: -95px;
  width: 400px;
  height: 400px;
  background: url(../images/shared/logo-left.png) center no-repeat;
}
body .float-logo {
  cursor: pointer !important;
  z-index: 1000;
  position: absolute;
  top: -86px;
  left: -95px;
  width: 350px;
  height: 350px;
}
body .select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #56c4fd !important;
}
body .form-control:focus {
  border: 1px solid #56c4fd !important;
}
body .select2-container--focus {
  outline: none !important;
}
body .select2-container--open .select2-selection--single {
  outline: none !important;
}
body .select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-width: 2px 0px 0px 2px !important;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0) !important;
  margin-top: -12px !important;
}
body .select2-selection--single {
  outline: none !important;
  line-height: 30px !important;
  background-color: transparent !important;
  border: 0px solid !important;
  border-radius: 0px !important;
  line-height: 33px !important;
  height: 33px !important;
}
body .select2-selection--single .select2-selection__rendered {
  color: #fff !important;
  line-height: 35px !important;
}
body .select2-selection--single .select2-selection__arrow {
  height: 33px !important;
  position: absolute !important;
  top: 1px !important;
  right: 1px !important;
  width: 22px !important;
}
body .select2-selection--single .select2-selection__arrow b {
  left: 0 !important;
  margin-left: 0px !important;
  display: inline-block !important;
  content: " " !important;
  height: 14px !important;
  width: 14px !important;
  border-width: 0 2px 2px 0 !important;
  border-color: #56c4fd !important;
  border-style: solid !important;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0) !important;
  transform-origin: center !important;
  transition: transform 0.3s !important;
  position: absolute !important;
  top: 75% !important;
  right: 8px !important;
  margin-top: -20px !important;
}
body .select2-container--open .select2-dropdown {
  width: 340px !important;
  margin-left: -1px !important;
  background-color: #222 !important;
  border: 1px solid #56c4fd !important;
}
body .select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted {
  background-color: #56c4fd !important;
}
body .select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #56c4fd !important;
}
#app {
  position: relative;
  height: 100vh;
  width: 100%;
  min-width: 1260px;
}
#app .main-box {
  min-width: 1110px;
  min-height: 680px;
  height: calc(100% - 29px);
  width: 100%;
  padding-top: 30px;
  padding-left: 54px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
}
.apex-background {
  position: absolute;
  width: 100%;
  height: calc( 100% - 73px);
  z-index: -1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px 45px;
}
.home {
  width: 100%;
  height: 100%;
}
.home .bottom-modul,
.home .top-modul {
  height: 51%;
}
.home .back-ground {
  width: 100%;
}
.apex-modul {
  position: relative;
  width: calc(50% - 10px);
  height: 100%;
  background-color: #000000;
  border-radius: 0px 0px 4px 4px;
}
.apex-modul .apex-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0px 30px;
  box-sizing: border-box;
  border-bottom: rgba(255, 255, 255, 0.07) 2px solid;
}
.apex-modul .apex-title p {
  height: 20px;
}
.apex-modul .apex-title span {
  display: inline-block;
  float: right;
  font-size: 14px;
  line-height: 12px;
  height: 24px;
  padding: 5px 10px;
  margin-top: 12px;
  box-sizing: border-box;
  color: #56c4fd;
  cursor: pointer;
  border: 2px solid #56c4fd;
}
.apex-modul .apex-title span a {
  color: #56c4fd;
}
.apex-modul .apex-list {
  width: 101%;
  height: calc(100% - 60px);
  padding: 0 10px;
  box-sizing: border-box;
  overflow-y: auto;
}
.apex-modul .apex-list li {
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  border-bottom: rgba(255, 255, 255, 0.07) 2px solid;
}
.apex-modul .apex-list li .top p {
  display: inline-block;
  padding: 0 10px 0 5px;
  margin-right: 10px;
  line-height: 23px;
  background: #004a80;
}
.apex-modul .apex-list li .bottom {
  overflow: hidden;
}
.apex-modul .apex-list li .bottom .hash {
  float: left;
  line-height: 50px;
  color: #56c4fd;
  display: inline-block;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.apex-modul .apex-list li .bottom a {
  float: left;
  line-height: 24px;
  border-bottom: 1px solid #56c4fd;
  display: inline-block;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.apex-modul .apex-list li .bottom span {
  float: right;
}
.apex-modul.transactions .apex-list li .bottom {
  box-sizing: border-box;
}
.apex-modul.overview ul {
  width: 100%;
  padding: 0 45px;
  box-sizing: border-box;
}
.apex-modul.overview ul li {
  width: 50%;
  float: left;
  padding: 22px 0 10px 45px;
}
.apex-modul.overview ul li p {
  position: relative;
  font-size: 16px;
}
.apex-modul.overview ul li p:nth-child(2) {
  font-size: 26px;
  padding-top: 6px;
}
.apex-modul.overview ul li p:first-of-type:before {
  position: absolute;
  top: 8px;
  left: -15px;
  width: 8px;
  height: 8px;
  display: block;
  content: '';
  background: #56c4fd;
  border-radius: 5px;
}
.data-table {
  width: 100%;
  padding: 0px 12px 0px;
  box-sizing: border-box;
  overflow-y: auto;
}
.data-table .table-ul {
  width: 100%;
  max-width: 100%;
  border-top: #0000 2px solid;
}
.data-table .table-ul > li.row {
  margin: 0;
  color: #ebebeb;
  height: 40px;
}
.data-table .table-ul > li > span {
  line-height: 35px;
  height: 35px;
  box-sizing: border-box;
  padding: 0 8px 0 20px;
  vertical-align: middle;
  text-overflow: ellipsis;
  border-bottom: rgba(255, 255, 255, 0.07) 2px solid;
  overflow: hidden;
  white-space: nowrap;
}
.data-table .table-ul > li > span a {
  display: inline-block;
  color: #56c4fd;
  font-family: "SemiBold";
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.data-table .table-ul > li:first-of-type span {
  color: #ebebeb;
  font-family: "Semibold";
}
.transactions-table .table-ul > li span:first-of-type {
  background-position: 0px -33px;
}
.transactions-table .table-ul > li:first-of-type span {
  color: #ebebeb;
}
@media screen and (max-width: 1366px) {
  body .logo-left {
    cursor: pointer !important;
  }
  #app .main-box {
    height: calc( 100vh - 120px);
    z-index: 1000;
  }
  .apex-modul.overview ul li {
    padding: 30px 0 10px 30px;
  }
  .apex-modul.overview ul li p:nth-child(2) {
    padding-top: 0px;
  }
}
.v-tip-arrows {
  display: none;
}
.v-tip-container {
  padding: 1px 8px 0!important;
  font-size: 14px!important;
  line-height: 14px!important;
}
